@import url('https://fonts.googleapis.com/css?family=Montserrat:700');

body{
    background-color: rgb(255, 255, 255);
    margin: 0;
}



nav{
    background-color: white;
}

#logo img{
    margin-left: 5%;
    /*width: 20%;
    height: auto;*/
    width: 125px;
    height: 35px;
}

/* Cabecera (titulo y subtitulo de la app) */
#cabecera{
    text-align: center;
    color: aliceblue;
    max-width: 90%;
    height: fit-content;
    margin-left: 5%;
    margin-right: 5%;
}


#tittle_div{
    display: flex;
    align-items: center;
    justify-content: center;
}
#tittle_div h1{
    /* font-size: 60px; */
    color: #000000;
    font-size: 30px;
    font-family: 'Montserrat', sans-serif;
    /* font-family:A Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}

#tittle_div img{
    /* height: 80px;
    width: 80px; */
    height: 40px;
    width: 40px;
    margin-right: 1%;
    border: #000000 2px solid;
    border-radius: 15px;
}

#topCurve{
    /* background: #0059ff; */
    background-image: url("../img/headerBackground.jpg");
    /* height: 1000px; */

    /*Efecto parallax*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
}

#topCurve svg{
    display: block;
}

#header_div{
    width: 100%;
    height: 90%;
    /* margin-left: 10%;
    margin-right: 10%; */
    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
}

#header_izq{
    order: 1;
    margin: auto;
}

.header_tittle{
    color: white;
    text-align: center;
    margin-bottom: 10%;
    margin-top: 10%;
}

#header_der{
    text-align: center;
    color: white;
    order: 2;
    padding-top: 5%;
    /*display: flex;
    justify-content: center;
    align-items: center;*/
}

#header_der img{
    width: 50%;
    height: auto;
    
    
    /*margin-left: 10%;
    margin-right: 10%;*/
    
}
/* Contenedores de descarga */
.cont_descarga{
    text-align: center;
    margin-top: 5%;
    color: white;
}
.cont_descarga2{
    text-align: center;
    margin-top: 1%;
    color: rgb(0, 0, 0);
}
#contenedorQR{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#contenedorQR img{
    width: 300px;
    height: 300px;
}

#cont_boton a{
    background-color: white;
    /*background-image:  linear-gradient(190deg, #ffffff, #d6d6d6, rgb(139, 139, 139));*/
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 40px;
    border-radius: 25px;
}

#cont_boton img {
    height: 30px;
    width: auto;
    margin: auto;
   vertical-align: middle; 
   display: inline-block;
}

/*Descarga del footer*/
#contenedorQR2{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
#contenedorQR2 img{
    width: 300px;
    height: 300px;
}

#cont_boton2 a{
    background-color: white;
    /*background-image:  linear-gradient(190deg, #ffffff, #d6d6d6, rgb(139, 139, 139));*/
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 20px 40px;
    border-radius: 25px;
}

#cont_boton2 img {
    height: 30px;
    width: auto;
    margin: auto;
   vertical-align: middle; 
   display: inline-block;
}

/* Seccion de descripcion de la app */
section{
    margin-top: 5%;
    margin-bottom: 5%;
}

.div_text h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
    font-size: 50px;
}

.div_text p{
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
}

.cont_izq{
    /* width: 100%; */
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    height: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cont_der{
    /* width: 100%; */
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    background-color: #FAFAFA;
    height:100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.cont_der img{
    order: 2;
}

.cont_row{
    width: 80%;
    height: 90%;
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    
    grid-template-columns: repeat(2, 1fr);
}

.cont_row img{
    /*width: 80%;
    height: auto;*/
    border-radius: 10px;
    width: 80%;
   /* margin-left: 10%;
    margin-right: 10%;*/
    /*margin-top: auto;
    margin-bottom: auto;*/
    margin: auto;
    
}

/*Despues de la descripcion de la app*/
#after_section{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: 1000;
    font-size: 30px;
}

/*Boton de descarga inferior*/

/* #cont_boton2 a{
    background-color:  #000000;
    /*background-color:  #2a59b6;*/
    /*background-image:  linear-gradient(190deg, #3973f0, #000069);*/
    /* text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    padding: 15px 10px;
    border-radius: 10px;
    border: 1px solid #fff;
}

#cont_boton2 a:hover{
    -webkit-filter: invert(100%);
    filter: invert(100%);
}


#cont_boton2 img {
    height: 30px;
    width: auto;
    margin: auto;
   vertical-align: middle; 
   display: inline-block; 
} */

/* Footer */
footer{
    text-align: center;
    width: 100%;
    background-image: url("../img/footerBackground.png");
    /*Efecto parallax*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    /*Efecto parallax*/
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    /*que flote hacia la izquierda*/
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    color: var(--color-white);
    padding: 0;
    /*Para que el footer siempre se quede abajo*/
    margin-top: 5%;
    /**/
    
    line-height: 0.5rem;
    /* height: 600px; */
    height: auto;
}

#footer_margin{
    margin-left: 5%;
    margin-right: 5%;
}

.footer_cont{
    width: 100%;
    /*display: inline-block;*/
    display: grid;
    
    grid-template-columns: repeat(3, 1fr);
}

.Cont_legal{
    order: 2;
    text-align: left;
}
.Cont_Redes{
   /* width: 50%;
    float: left;*/
    order: 1;
    text-align: center;
}
.Cont_Google{
    /*width: 50%;
    float: right;*/
    order: 3;
    text-align: center;
}
.Cont_Google img{
    width: 10%;
    min-width: 150px;
    height: auto;
}

#foo_logo{
    width: fit-content;
    display: flex;
    height: 90%;
     padding-bottom: 2%; 
    margin-top: 10%;
}

#foo_logo img{
    width: 130px;
    height: 40px;
}

.infoText{
    line-height: 20px;
}

@media only screen and (max-width: 900px){
    #header_div{
        grid-template-columns: 1fr;
    }

    #header_izq{
        order: 2;
    }
    
    #header_der{
        order: 1;
    }

    .header_tittle{
        margin-top: 10%;
    }
    /*#header_der img{
        width: 40%;
        margin-left: 30%;
        margin-right: 30%;
        margin-top: 10%;
    }*/
    
    .cont_row{
        grid-template-columns: 1fr;
    }

    

    .cont_der img{
        order: 0;
    }

    #tittle_div h1{
        font-size: 25px;
    }

    .footer_cont{
        grid-template-columns: 1fr;
    }

    
    .Cont_Redes{
       /* width: 50%;
        float: left;*/
        order: 2;
        text-align: center;
        margin-top: 3%;
    }
    .Cont_Google{
        /*width: 50%;
        float: right;*/
        order: 2;
        text-align: center;
        margin-top: 5%;
    }
    .Cont_legal{
        order: 3;
        text-align: center;
        margin-top: 5%;
    }

    /* #tittle_div img{
        height: 30px;
        width: 30px;
    } */
}

@media only screen and (max-width: 430px){
    #cabecera h1{
        font-size: 50px;
    }

    .Cont_Redes{
        width: 100%;
        text-align: center
    }
    .Cont_Google{
        width: 100%;
        text-align: center;
    }
    #foo_logo{
        width: 100%;
    }
    #foo_logo img{
        width: 80%;
        margin-top: 10%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #tittle_div h1{
        font-size: 20px;
    }

    #tittle_div img{
        height: 30px;
        width: 30px;
        border-radius: 25px;
    }

    #after_section a{
        border-radius: 5px;
    }
}

@media only screen and (max-width: 340px){
    #cabecera h1{
        font-size: 20px;
    }

    #cabecera h2{
        font-size: 15px;
    }

    #tittle_div img{
        height: 20px;
        width: 20px;
        border-radius: 25px;
    }

    #contenedorQR img{
        width: 60%;
        height: 60%;
    }

    #cont_boton a{
        font-size: 10px;
        border-radius: 25px;
        padding: 10px 30px;
    }
    
    #cont_boton img {
        height: 20px;
        width: auto;
        margin: auto;
    }

    #logo img{
        margin-left: 5%;
        width: 20%;
        height: auto;
    }


    #after_section a{
        font-size: 10px;
        border-radius: 8px;
        padding: 10px 30px;
    }
    
    #after_section img {
        height: 20px;
        width: auto;
        margin: auto;
    }

    footer h1{
        font-size: 80%;
    }

    #foo_logo{
        margin-top: 10%;
    }
}